.container {
	font-style: normal;
	font-family: 'Raleway', sans-serif;
	margin-top: 64px;
	text-align: center;
}

#employeeButton {
	font-weight: bold;
	position: relative;
	float: left;
	background-image: url("../../images/birdbirdlogo.png");
	background-size: cover;
	width: 120px;
	height: 120px;
	border: none;
}

#loginText {
	display: none;
	position: relative;
	left: -50%;
	bottom: 20%;
}

#employeeButton:hover {
	opacity: 0.4;
}

button#employeeButton:hover + p {
	display: block;
}

#biscuits {
	margin-top: 50px;
	width: 80%;
}

#orderFormContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}