body {
	background-image: url("../../images/birdBirdBackgroundFadedResized.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

.container {
	font-style: normal;
	font-family: 'Raleway', sans-serif;
	margin-top: 64px;
	text-align: center;
}

#employeeButton {
	font-weight: bold;
	position: relative;
	background-image: url("../../images/birdbirdlogo.png");
	background-size: cover;
	width: 120px;
	height: 120px;
	border: none;
	border-radius: 140px;
}

#loginText {
	display: none;
	position: relative;
	left: -50%;
	bottom: 20%;
}

#employeeButton:hover {
	opacity: 0.4;
}

button#employeeButton:hover + p {
	display: block;
}

#biscuits {
	margin-top: 50px;
	width: 80%;
	border-radius: 20px;
}

#orderFormContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
	body {
		background-size: cover;
		background-position-y: top;
		background-position-x: center;
		margin-left: 25%;
	}
	.container {
		width: 100% !important;
		margin-left: 25% !important;
		margin-right: 0 !important;
	}
	#loginText {
		left: 0%;
    	bottom: 90%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#employeeButton {
		float: none;
	}
	#loginText {
		left: 0%;
    	bottom: 90%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#employeeButton {
		float: left;
	}
	#loginText {
		left: -50%;
		bottom: 20%;
	}
}