#orderForm, #quantity, button, #datePicker, #specialInstructions, .form-control, .tipButtons, .input-group-text {
	font-weight: 900 !important;
	font-size: 18px;
}

#orderForm {
	margin-top: 30px;
}

#datePicker {
	margin-bottom: 0 !important;
}

#quantityAndPrice {
	margin-top: 20px;
}

#jam {
	background-image: url("../../../images/jamResized.jpg");
	opacity: 0.4;
}

#gravy {
	background-image: url("../../../images/gravyResized.jpg");
}

#jam, #gravy {
	background-size: cover;
	width: 250px;
	height: 250px;
}

#jamText {
	color: black;
	width: 110;
	opacity: 1 !important;
	font-weight: bolder !important;
	background-color: white;
	transform: rotate(330deg);
}



button.jamGravyImages:hover {
	width: 250px;
	height: 253px !important;
	border: goldenrod 5px solid !important;
	transition: 0.2s ease-in-out;
}

button.jamGravyImages:active {
	border: rgb(150, 114, 22) 10px solid;
	transition: 0.1s ease-in-out;
}

.lineBreak {
	color: gray;
	background-color: darkgray;
	opacity: 0.2;
	height: 5;
	width: 150%;
	position: relative;
	left: -25%;
}

#tipTitle {
	margin-top: 10px;
}

.tipButtons {
	margin: 3px;
}

.input-group-text {
	background-color: goldenrod !important;
	color: white !important;
	border: none !important;
}

.form-control:focus {
	border-color: #6c757d !important;
}

option {
	background-color: #6c757d;
	color: white;
}

.totalArea {
	padding: 20px;
	border: 2px #6c757d solid;
	width: 405px;
	line-height: 20px;
	margin-bottom: 20px;
	margin-top: 15px;
	border-radius: 10px;
}

.specialInstructions {
	text-align: center !important;
	width: 100%;
}

#finalTotal {
	font-weight: 1000 !important;
	font-size: 20px;
	color: goldenrod;
}

#subtotal, #tax, #finalTotal {
	text-align: left;
}

.totalsText {
	float: right;
}

@media only screen and (max-width: 600px) {
	#jam, #gravy {
		width: 150px !important;
		height: 150px !important;
	}
	#jamText {
		font-size: 15px !important;
	}
	.totalArea {
		left: 0% !important;
	}
	#continueButton {
		left: 38%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
	#jam, #gravy {
		width: 250px;
		height: 250px;
	}
	#jamText {
		font-size: 25px;
	}
	.totalArea {
		left: 13%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}