#errorMessage {
	color: rgb(160, 0, 0) !important;
	font-style: italic !important;
	margin-top: 20px;
}

.form-group {
	text-align: left;
}

#backToHome {
	font-weight: bold;
	position: relative;
	float: left;
	background-image: url("../../../images/birdbirdlogo.png");
	background-size: cover;
	width: 120px;
	height: 120px;
	border: none;
	border-radius: 140px;
}

#homeText {
	display: none;
	position: relative;
	left: -50%;
	bottom: 20%;
}

#backToHome:hover {
	opacity: 0.4;
}

button#backToHome:hover + p {
	display: block;
}