div, button {
	font-style: normal;
	font-family: 'Raleway', sans-serif;
	color: black;
	font-weight: bold;
}

#continueButton {
	left: 43%;
	position: relative;
}

.modal-title {
	margin-top: 10px;
	position: relative;
	left: 27%;
	font-weight: bolder !important;
	font-size: 25px;
}

#modalTotal {
	text-align: center;
	font-size: 20px;
	color: goldenrod;
}