div, button {
	font-style: normal;
	font-family: 'Raleway', sans-serif;
	color: black;
	font-weight: bold;
}

#continueButton {
	left: 43%;
	position: relative;
}

.modal-title {
	margin-top: 10px;
	position: relative;
	left: 30%;
	font-weight: 600;
}

#subtotal {
	text-align: center;
}