div, button {
	font-style: normal;
	font-family: 'Raleway', sans-serif;
	color: black;
	font-weight: bold;
}

#continueButton {
	left: 43%;
	position: relative;
}

.modal-title {
	margin-top: 20px;
	position: relative;
	left: 27%;
	font-weight: bolder !important;
	font-size: 25px;
}

#modalTotal {
	text-align: center;
	font-size: 20px;
	color: goldenrod;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
	.close>span {
		font-size: 50pt !important;
	}
	.modal-title {
		margin-top: 20px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.close>span {
		font-size: 40pt !important;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.modal-title {
		margin-top: 15px;
	}
}