nav {
	width: auto !important;
	margin: 0 !important;
	padding: 25px 0 !important;
	left: 0;
	right: 0;
	border-top: 1px solid #dedede;
	background-color: white !important;
}

.extendedContainer {
	width: 100%;
	margin: 0;
}

a {
	color: #a8a8a8 !important;
	font-family: Raleway;
    font-size: 14px;
    font-weight: bolder;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .6px;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid transparent !important;
	transition: color .3s,border-bottom-color .3s;
}

a:hover {
	color: #000000 !important;
}

#dozens {
	color: black !important;
}

#insta {
	margin-right: 15px;
	width: 25px;
}

#facebook {
	width: 25px;
	margin-right: 23px;
}